@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }

.message{
  margin: auto;
  width: 50%;
  padding: 150px;
  text-align: center;
}

h3{
  font-size: 300%;
  line-height: normal;
}

p{
  font-size: 200%;
}

img.madbongo{
  width: 220px;
  height: auto;
}